body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  margin-bottom: 50px;
}

table {
  margin-top: 5%;
  margin-right: 30%;
  margin-left: 30%;
}

table, th, td {
    width: 40%;
    text-align: center;
}

th, td {
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color: #f5f5f5;}

button, input {

}

.canvas {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.navigator {
  display: flex;
  flex-flow: row;
  justify-content: center;
  background-color: #a23600;
}

.navigator:hover {opacity: 50%;}

.tab {
  display: flex;
  flex: 1;
  padding: 10px;
  justify-content: center;
}

.input {
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.any {
  display: flex;
  flex: 1;
  background-color: #ffffff;
}

.ar_iz {
  flex: 1;
  background-color: #ffeb3b;
}

.ar_de {
  flex: 1;
  background-color: #4caf50;
}

.ab_iz {
  flex: 1;
  background-color: #2196f3;
}
.ab_de {
  flex: 1;
  background-color: #FF5722;
}
